<footer>
  <div class="container">
    <small>
      Copyright &copy; <a href="http://alphablog.us"> Alpha Blog </a> by <a href="http://sarojsharma.com"> Saroj Sharma </a>
    </small>

  </div>
</footer>
